* {
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

main {
    max-width: 1200px;
    min-height: 90vh;
    margin: 5vh auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 28px;
    padding: 0 24px;
}

.virag h2 {
    margin-bottom: 0;
}

nav ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    gap: 10px;
}

nav ul li {
    text-align: center;
    padding: 10px 22px;
    margin: 0;
}

button {
    text-align: center;
    padding: 10px 22px;
    margin: 0;
}

.virag p:last-child {
    margin-bottom: 0;
}

.open {
    font-size: 12px;
    padding: 5px 10px;
}

section {
    display: flex;
    gap: 10px;
    justify-content: center;
}

article {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 24px;
    margin: 20px 0;
}

article div {
    width: 260px;
    padding: 0 0 22px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

article button {
    width: 30%;
    margin-left: auto;
    margin-right: 20px;
}

.modal {
    border-radius: var(--radius);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    
    width: 50vw;
    height: 90vh;
    overflow-x: hidden;
    padding: 30px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 0 100vh rgba(0, 0, 0, 0.5);
}

.kosarsection {
    display: flex;
    flex-direction: column;
}